<h2 mat-dialog-title >Deseja apagar <span>{{data.albumName}}</span>  ? </h2>
<mat-spinner class="centrar-width-70" *ngIf="isLoading"  ></mat-spinner>
<mat-dialog-content  *ngIf="!isLoading" >
    Esta ação é Irreversível e o Album será apagado!
</mat-dialog-content> 
<mat-dialog-actions *ngIf="!isLoading" > 
    <button                 
        mat-raised-button 
        color="warn" 
        class="action-button"  
        (click)="deleteAlbum(data.albumId)"
        >Apagar Album
    </button>
    <button
        mat-raised-button
        color="primary"
        (click)="exitDeleteAlbum()"
        class="action-button"  
        >Voltar            
    </button>
</mat-dialog-actions>   