// COLORS
$color-primary: #004f99;
$color-primary-light: #0077e6;
$color-primary-lighter: #abd1f5;
$color-primary-dark: #001a33;

$color-secondary-light:  #d9b38c;
$color-secondary-lighter:  #dbcab9;
$color-secondary-dark:  #bf8040;



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-green: rgb(32, 131, 36);
$color-green-lighter :  rgb(92, 167, 96);
$color-orange: rgb(230, 126, 41);
$color-red: rgb(216, 11, 11);

$color-white: #e5dcc8;
$color-black: #000;

$default-font-size: 3rem;

